[2016-11-23 10:47] brucellino opened #2 "Collect all of the project repositories"
Open a ticket against all of the participants, to ask them where their repositories are.

Add those repositories to the board.

[2016-11-23 10:48] brucellino opened #3 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:49] brucellino opened #4 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:49] brucellino opened #5 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:50] brucellino opened #6 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:52] brucellino opened #7 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:53] brucellino opened #8 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:54] brucellino opened #9 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:54] brucellino opened #10 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 10:55] brucellino opened #11 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 11:01] trinitysege commented on #11
Noted.

[2016-11-23 11:02] brucellino opened #12 "Provide us with your github repository"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 11:02] brucellino opened #13 "Provide us with your use case"
Dear participant.

Please provide us with the link to the github repository that you will be using during the hackfest.

Thanks !
Bruce

[2016-11-23 11:08] brucellino opened #14 "Please provide us with your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:08] yosephabate commented on #13
github repo: https://github.com/yosephabate/addisriversmonitor

[2016-11-23 11:10] brucellino commented on #13
Thanks  ! I'm adding it to the hackfest board https://waffle.io/sci-gaia/LagosHackfest/ come and see.

[2016-11-23 11:15] brucellino opened #15 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:15] brucellino opened #16 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:15] cudanor commented on #5
Dear Bruce,
Please find the link below:

https://github.com/cudanor/Plantisc/

Thanks

On Wed, Nov 23, 2016 at 2:49 AM, Bruce Becker notifications@github.com
wrote:

[2016-11-23 11:16] brucellino opened #17 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:16] brucellino opened #18 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:17] brucellino opened #19 "Collect all of the project Stacks"
Open a ticket against all projects to create their stack in Stackshare.

[2016-11-23 11:17] brucellino opened #20 "Please provide your stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:18] brucellino opened #21 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:18] brucellino commented on #5
Thanks collins ! We'll add it to the board.

[2016-11-23 11:19] brucellino opened #22 "Please provide us with your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:20] brucellino opened #23 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:20] brucellino opened #24 "Please provide your stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:21] brucellino opened #25 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:21] brucellino opened #26 "Please provide your Stack"
Hello ! as part of the [pre-hackfest checklist](http://www.africa-grid.org/hackfest-site//before-checklist/), we asked you to describe the stack of software that you will be using in your project.

We want you to do this with [StackShare](http://stackshare.io). Please create a new stack and let us know the url of your stack. Only one per project.

[2016-11-23 11:24] yosephabate commented on #26
StackShare url: http://stackshare.io/yosephabate/addisriversmonitorstack

[2016-11-23 11:26] brucellino commented on #13
Can you let me know who else is working on this project ? Provide their github user name please - thanks !

[2016-11-23 11:33] yosephabate commented on #13
Currently I am the only one working on Addis Ababa Rivers/Riverside Monitoring System. The other project we are working on is Education eLibrary and Repository with Behailu Osro @behailukorma

[2016-11-23 11:35] brucellino commented on #13
:ok:

[2016-11-23 11:35] #13 closed

[2016-11-23 11:58] brucellino commented on #5
@cudanor Thanks for the mail with the plantisc2 code. It would be best to have that in the repo. Do you  need a hand ?

[2016-11-23 11:58] #5 closed

[2016-11-23 12:09] cudanor commented on #5
Yes, I will need a hand since I wasn't the original developer.

Thanks

On Wed, Nov 23, 2016 at 3:58 AM, Bruce Becker notifications@github.com
wrote:

[2016-11-23 12:15] icuzochukwu commented on #7
Dear Bruce,

https://github.com/icuzochukwu

Find above the git repository link. Thank you.

On 11/23/16, Bruce Becker notifications@github.com wrote:

##

_Uzochukwu,_ Ikemefuna C. _Ph.D_
_Department of Pharmaceutical and Medicinal Chemistry,_
_Faculty of Pharmaceutical Sciences,_
_Nnamdi Azikiwe University,_
_PMB 5025 Awka 420281,_
_Anambra State, Nigeria._
_+234 8035476925_
**

*``Whatever is b

[2016-11-23 12:54] brucellino commented on #26
Thanks  !

[2016-11-23 12:54] #26 closed

[2016-11-23 13:05] brucellino commented on #7
Great ! is this the repository for  your work https://github.com/icuzochukwu/UNIZIK-Drug-Design-and-Informatics/ ?

[2016-11-23 13:11] Davazano commented on #18
http://stackshare.io/Davazano/aceprd-plant-repository

[2016-11-23 13:14] brucellino commented on #18
Thanks David !

[2016-11-23 13:31] brucellino opened #27 "Please provide us with your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:32] brucellino opened #28 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:32] brucellino opened #29 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:32] brucellino opened #30 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:33] brucellino opened #31 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:33] brucellino opened #32 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:33] brucellino opened #33 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:34] brucellino opened #34 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:34] brucellino opened #35 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:34] brucellino opened #36 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:35] brucellino opened #37 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:35] brucellino opened #38 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:36] brucellino opened #39 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:36] brucellino opened #40 "Please provide your ORCID"
Hi !

in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145

If you do not have one, please sign up at https://orcid.org/register

[2016-11-23 13:39] damilare88 commented on #32
My orcid ID: orcid.org/0000-0003-4448-7829

Thanks.

[code]

 Assigned #32 to @damilare88.—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-23 13:42] brucellino commented on #32
Thanks very much. Please take a few minutes to update the information (institute, etc.)

[2016-11-23 13:42] #32 closed

[2016-11-23 13:45] yosephabate commented on #40
ORCID: orcid.org/0000-0001-5098-2063

[2016-11-23 13:47] adedeji19 commented on #27
orcid.org/0000-0002-7797-8272

On Wed, Nov 23, 2016 at 1:31 PM, Bruce Becker notifications@github.com
wrote:

[2016-11-23 13:49] #18 closed

[2016-11-23 13:52] brucellino commented on #27
Thanks @adedeji19  - can you update some of the information in your profile when you have some time ?

[2016-11-23 13:52] #27 closed

[2016-11-23 13:53] brucellino commented on #40
very nice thanks !

[2016-11-23 13:54] #40 closed

[2016-11-23 13:56] temitope123 commented on #37
Hi Bruce this is my ORCID orcid.org/0000-0002-6807-1599

[2016-11-23 14:01] brucellino commented on #37
Thanks @temitope123 - can you update your profile with relevant information as soon as possible.

[2016-11-23 14:01] #37 closed

[2016-11-23 14:07] adelopo commented on #3
https://github.com/adelopo/ is my link
regards

On Wed, Nov 23, 2016 at 11:48 AM, Bruce Becker notifications@github.com
wrote:

##

_ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129_
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAdelopo

[2016-11-23 14:09] brucellino commented on #3
Hi @adelopo Thanks for the reply. I see two repositories in your github account- which one will be used for the hackfest ?

[2016-11-23 14:15] trinitysege commented on #38
Done.

[2016-11-23 14:17] adelopo commented on #3
thanks this is the link https://github.com/adelopo/hackfest2016

regards

On Wed, Nov 23, 2016 at 3:09 PM, Bruce Becker notifications@github.com
wrote:

##

_ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129_
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAdelopo

[2016-11-23 14:23] brucellino commented on #38
Hi @trinitysege - did you register ? what is your ORCID ?

[2016-11-23 14:24] brucellino commented on #3
Great, thanks !

[2016-11-23 14:25] #3 closed

[2016-11-23 14:26] icuzochukwu commented on #34
Dear Sir,

Find below my ORCID ID:

orcid.org/0000-0002-5139-1537

Thank you.

On 11/23/16, Bruce Becker notifications@github.com wrote:

##

_Uzochukwu,_ Ikemefuna C. _Ph.D_
_Department of Pharmaceutical and Medicinal Chemistry,_
_Faculty of Pharmaceutical Sciences,_
_Nnamdi Azikiwe University,_
_PMB 5025 Awka 420281,_
_Anambra State, Nigeria._
_+234 8035476925_
**

*``Whatever is believed can be

[2016-11-23 14:31] brucellino opened #41 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:32] trinitysege commented on #38
hello,

this is my ORCID:  orcid.org/0000-0003-4127-844X

On Wed, Nov 23, 2016 at 6:23 AM, Bruce Becker notifications@github.com
wrote:

[2016-11-23 14:33] brucellino opened #42 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:33] brucellino opened #43 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:34] brucellino opened #44 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:34] brucellino opened #45 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:34] brucellino opened #46 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:35] brucellino opened #47 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:35] brucellino opened #48 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:35] brucellino opened #49 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:36] brucellino opened #50 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:36] brucellino opened #51 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:36] brucellino opened #52 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:36] brucellino opened #53 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:37] brucellino opened #54 "Create your first milestone."
Hi

During your presentation you gave us an implementation strategy. We would like you to create a milestone for the mid-hackfest status.

Follow this checklist to create the milestone (check off the items as you go)

  1. [ ] Go to your repository, and select the "issues" tab.
  1. [ ] On the issues tab, there are two buttons for "issues" and "milestones"  - click on "milestones"
  1. [ ] You sho

[2016-11-23 14:38] Davazano commented on #33
orcid.org/0000-0001-6263-1527

[2016-11-23 14:40] #34 closed

[2016-11-23 14:40] brucellino commented on #38
Great, thanks ! Feel free to add some information to the profile.

[2016-11-23 14:41] #38 closed

[2016-11-23 14:47] temitope123 commented on #37
will do that

[2016-11-23 14:48] adelopo commented on #3
I will need a guide on achieving our deliverables which are
1.getting DOI's for our repository and how to make it open access
2. users to be able to use federated accounts

On Wed, Nov 23, 2016 at 3:24 PM, Bruce Becker notifications@github.com
wrote:

##

_ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129_
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAd

[2016-11-23 14:50] adelopo commented on #41
the first milestone is to be able to have DOI's for our nada repository at
nada.ui.edu.ng
regards

On Wed, Nov 23, 2016 at 3:31 PM, Bruce Becker notifications@github.com
wrote:

##

_ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129_
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAdelopo

[2016-11-23 14:51] brucellino commented on #41
Sound good - make sure you follow the checklist on the description above. If you feel stuck, let @mtorrisi and myself know.

[2016-11-23 14:56] icuzochukwu commented on #7
No. This repository was created long before now.

We have a newer repository Sir.

On 11/23/16, Bruce Becker notifications@github.com wrote:

##

_Uzochukwu,_ Ikemefuna C. _Ph.D_
_Department of Pharmaceutical and Medicinal Chemistry,_
_Faculty of Pharmaceutical Sciences,_
_Nnamdi Azikiwe University,_
_PMB 5025 Awka 420281,_
_Anambra State, Nigeria._
_+234 8035476925_
**

*``Whatever is believed ca

[2016-11-23 15:02] adelopo commented on #28
this is my orchid id
- Your ORCID iD is 0000-0001-5430-5369
  http://orcid.org/0000-0001-5430-5369
- The link to your public record is http://orcid.org/0000-0001-5430-5369

On Wed, Nov 23, 2016 at 2:32 PM, Bruce Becker notifications@github.com
wrote:

##

_ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129_
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAd

[2016-11-23 15:02] brucellino commented on #7
Ok  - what is the name of that repo ?

[2016-11-23 15:04] brucellino commented on #28
Excellent ! looks great.

[2016-11-23 15:04] #28 closed

[2016-11-23 15:05] adelopo commented on #28
thanks send me yours too.
regards

On Wed, Nov 23, 2016 at 4:04 PM, Bruce Becker notifications@github.com
wrote:

##

_ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129_
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAdelopo

[2016-11-23 15:06] brucellino commented on #33
Thanks very much, I've updated the participant metadata.

[2016-11-23 15:06] #33 closed

[2016-11-23 15:09] brucellino commented on #28
I am 0000-0002-6607-7145

[2016-11-23 15:15] trustodia commented on #52
@brucellino : Done!

[2016-11-23 15:27] adelopo commented on #28
you not visible perhaps your permission.

On Wed, Nov 23, 2016 at 4:09 PM, Bruce Becker notifications@github.com
wrote:

##

_ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129_
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAdelopo

[2016-11-23 15:27] lordmila commented on #35
orcid.org/0000-0001-9344-7634

[2016-11-23 15:28] lordmila commented on #35
orcid.org/0000-0001-9344-7634

[2016-11-23 15:31] icuzochukwu commented on #20
Dear Bruce,

URL of my stackshare is: http://stackshare.io/icuzochukwu

On 11/23/16, Bruce Becker notifications@github.com wrote:

##

_Uzochukwu,_ Ikemefuna C. _Ph.D_
_Department of Pharmaceutical and Medicinal Chemistry,_
_Faculty of Pharmaceutical Sciences,_
_Nnamdi Azikiwe University,_
_PMB 5025 Awka 420281,_
_Anambra State, Nigeria._
_+234 8035476925_
**

*``Whatever is believed can be done´´

[2016-11-23 16:00] brucellino commented on #7
Ok, we got a mail :
Repo is https://github.com/unizik/D4PR

[2016-11-23 16:01] #7 closed

[2016-11-23 16:02] trinitysege commented on #11
https://github.com/trinitysege/OAU-MAT

[2016-11-24 04:38] cudanor commented on #31
My Orchid ID: 0000-0001-7016-8528

On Wed, Nov 23, 2016 at 2:33 PM, Bruce Becker <notifications@github.com>
wrote:

[2016-11-24 08:05] mtorrisi commented on #35
Ok, thanks

[2016-11-24 08:12] #35 closed

[2016-11-24 08:15] mtorrisi commented on #31
Ok, thanks

[2016-11-24 08:15] #31 closed

[2016-11-24 08:17] lordmila commented on #35
orcid.org/0000-0001-9344-7634

    On Wednesday, November 23, 2016 2:34 PM, Bruce Becker <notifications@github.com> wrote:

 Hi !in order to publish your research in the Sci-GaIA Open Access Repository, you need to have an ORCID. Please respond to this ticket with your ORCID : e.g. orcid.org/0000-0002-6607-7145If you do not have one, please sign up at https://orcid.org/register—
You are receiving

[2016-11-24 08:18] mtorrisi commented on #20
Ok, thanks

[2016-11-24 08:19] #20 closed

[2016-11-24 08:26] mtorrisi commented on #11
Ok, thanks

[2016-11-24 08:26] #11 closed

[2016-11-24 09:51] adelopo commented on #28
the xml file has been uploaded on my githhub (
https://github.com/adelopo/hackfest2016)
thanks

On Wed, Nov 23, 2016 at 4:27 PM, Abdulazeez Adelopo <aa.adelopo@gmail.com>
wrote:

--

*ADELOPO A.ANCE,BSC,PGDE,CCNA,OCA,MCP,CCWA,MBA,MCS,FAAENSenior
WebmasterUniversity of Ibadan08028511129*
aa.adelopo@ui.edu.ng
www.ui.edu.ng/AAAdelopo

[2016-11-25 13:35] brucellino commented on #46
Great, I can see the milestone. Just create individual issues to help us track your progress.

[2016-11-25 14:08] brucellino commented on #29
Hello - could you respond with your ORCID please ?

[2016-11-25 14:08] brucellino commented on #30
Hello - could you respond with your ORCID please ?

[2016-11-25 14:08] brucellino commented on #6
Hello - could you respond with your project's github repo please ?

[2016-11-25 14:09] brucellino commented on #4
Hello - could you respond with your project's github repo please ?

[2016-11-25 14:09] brucellino commented on #8
Hello - could you respond with your project's github repo please ?

[2016-11-25 14:09] brucellino commented on #10
Hello - could you respond with your project's github repo please ?

[2016-11-25 14:16] brucellino commented on #9
Hello, could you please let us know which github repository your project is using ?

[2016-11-26 07:02] bsegun commented on #30
Here is mine

orcid.org/0000-0002-6290-1707

github account name is bsegun

On Fri, Nov 25, 2016 at 3:08 PM, Bruce Becker <notifications@github.com>
wrote:

--
******************************************************
Professor Benjamin Aribisala, PhD (Birmingham, UK)
Professor of Computer Science
Head of Department, Computer Science Department
Lagos State University
http://www.csc.lasu.edu.ng/about-

[2016-11-26 07:41] brucellino commented on #42
hi @behailukorma , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:41] brucellino commented on #43
hi @bsegun  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:42] brucellino commented on #45
hi @damilare88  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:42] brucellino commented on #47
hi @icuzochukwu  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:42] brucellino commented on #48
hi @lordmila  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:43] brucellino commented on #49
hi @taiwofisayo  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:43] brucellino commented on #50
hi @temitope123  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:43] brucellino commented on #51
hi @trinitysege  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:44] brucellino commented on #53
hi @waleolayide  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:44] brucellino commented on #54
hi @yosephabate  , can you let  us know if you've written the milestone objectives ? you should have a list of issues in the milestone which define tasks in achieving your goals.

[2016-11-26 07:44] brucellino commented on #36
Hi @taiwofisayo can you provide your ORCID for us please ?

Thanks
Bruce

[2016-11-26 07:45] brucellino commented on #25
Hi @waleolayide Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:45] brucellino commented on #24
Hi @trinitysege  Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:45] brucellino commented on #23
Hi @temitope123
Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:46] brucellino commented on #22
Hi @taiwofisayo Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:46] brucellino commented on #21
Hi @lordmila  Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:46] brucellino commented on #17
Hi @damilare88  Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:46] brucellino commented on #16
Hi @cudanor  Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:46] brucellino commented on #15
Hi @behailukorma  Can you let us know the link to your stack on stackshare please ?
Thanks !
Bruce

[2016-11-26 07:47] brucellino commented on #12
hi @waleolayide
Since you are working on developing an Open Access repository, this issue does not pertain to you. I'll close it.

[2016-11-26 07:48] #12 closed

[2016-11-26 07:50] brucellino commented on #46
milestone is at https://github.com/Davazano/plant-repository/milestone/2

[2016-11-26 07:50] #46 closed

[2016-11-26 07:52] brucellino commented on #52
Hi @trustodia I can't find the repo that you're working on - can you give the link to the actual milestone here in the ticket ?

[2016-11-26 07:54] brucellino commented on #43
Ah, this is Benjamin - no milestone for you :)

[2016-11-26 07:54] #43 closed

[2016-11-26 08:00] icuzochukwu commented on #47
Our issues and milestone are listed on our repository (https://github.com/unizik/D4PR).

[2016-11-26 08:03] brucellino commented on #6
https://github.com/damilare88/gwas_usecases

[2016-11-26 08:03] brucellino commented on #45
https://github.com/damilare88/gwas_usecases/milestones

[2016-11-26 08:13] #6 closed

[2016-11-26 08:14] mtorrisi commented on #6
Ok, thanks

[2016-11-26 08:14] mtorrisi commented on #45
Ok, thanks

[2016-11-26 08:14] #45 closed

[2016-11-26 08:18] mtorrisi commented on #47
Ok, thanks

[2016-11-26 08:18] #47 closed

[2016-11-26 10:21] trinitysege commented on #24
hello,

This is the link:  https://stackshare.io/trinitysege

Regards.

On Fri, Nov 25, 2016 at 11:45 PM, Bruce Becker <notifications@github.com>
wrote:

[2016-11-26 10:33] brucellino commented on #24
Hi @trinitysege - thanks ! but we  need you to create a stack and fill it in with the things that you're using. See  http://www.africa-grid.org/hackfest-site//before-checklist/  for instructions.

[2016-11-26 11:08] cudanor commented on #16
https://stackshare.io/cudanor

Thanks

On Sat, Nov 26, 2016 at 8:46 AM, Bruce Becker <notifications@github.com>
wrote:

[2016-11-26 11:08] trinitysege commented on #24
okay

On Sat, Nov 26, 2016 at 2:33 AM, Bruce Becker <notifications@github.com>
wrote:

[2016-11-26 11:42] brucellino commented on #16
Hi @cudanor Thanks - you have a profile on stackshare now - great ! But we need to you create the stack with the actual tools that Plantisc is using. List all of the things you actually use, whether it's on the backend or the frontend.

[2016-11-26 12:12] trinitysege commented on #24
https://stackshare.io/obafemi-awolowo-university-ife/obafemi-awolowo-university-ife/

Hope i got it?

On Sat, Nov 26, 2016 at 3:08 AM, segun oyeyiola <trinitysege@gmail.com>
wrote:

[2016-11-26 12:29] brucellino commented on #24
looks good, thanks.

[2016-11-26 12:29] #24 closed

[2016-11-26 13:41] cudanor commented on #16
Hi Bruce,
this is the link to my stack.

https://stackshare.io/cudanor/plantisc2/details

Thanks

On Sat, Nov 26, 2016 at 12:42 PM, Bruce Becker <notifications@github.com>
wrote:

[2016-11-26 13:44] #16 closed

[2016-11-28 08:04] brucellino opened #55 "Create the example script that runs autodock and vina"

[2016-11-28 08:07] brucellino opened #56 "create the repo for the D4PR"

[2016-11-28 08:08] ezeasorekene commented on #56
https://github.com/unizik/D4PR

[2016-11-28 08:09] brucellino commented on #56
great, as soon as you have the php code for the website in there, I'll close the ticket.

[2016-11-28 21:53] ezeasorekene commented on #56
Hi @brucellino you can check the repo now.... It has content at the moment... @domisky2003 @icuzochukwu

[2016-11-29 08:06] #30 closed

[2016-11-29 08:07] brucellino commented on #56
Looks good.

[2016-11-29 08:07] #56 closed

[2016-11-29 08:08] brucellino commented on #29
Hello - could you respond with your ORCID please ?

[2016-11-29 08:08] #4 closed

[2016-11-29 08:08] brucellino commented on #4
No repository needed for this project.

[2016-11-29 08:09] brucellino commented on #8
Hello - could you respond with your project's github repo please ?
If there is already one, just let us know or if this is not applicable, let us know.

[2016-11-29 08:09] brucellino commented on #10
Hello - could you respond with your project's github repo please ?
If there is already one, just let us know or if this is not applicable, let us know.

[2016-11-29 08:09] brucellino commented on #9
Hello - could you respond with your project's github repo please ?
If there is already one, just let us know or if this is not applicable, let us know.

[2016-11-29 08:10] brucellino commented on #9
duplicate of #10

[2016-11-29 08:10] #9 closed

[2016-11-29 08:10] brucellino commented on #36
Hi @taiwofisayo can you provide your ORCID for us please ?

[2016-11-29 08:46] temitope123 commented on #9
hello Bruce we have been working on our local system, in about an hour we will upload what we have be doing

[2016-11-29 09:29] brucellino commented on #14
Hello - can you please describe the stack tools that you're using ?  See the original description

[2016-11-29 09:29] #15 closed

[2016-11-29 09:30] brucellino commented on #17
Hello - can you please describe the stack tools that you're using ?  See the original description

[2016-11-29 09:30] brucellino commented on #21
Hello - can you please describe the stack tools that you're using ?  See the original description

[2016-11-29 09:30] brucellino commented on #22
Hello - can you please describe the stack tools that you're using ?  See the original description

[2016-11-29 10:06] temitope123 commented on #9
this is the link to our repo https://github.com/sprintell/ibis

[2016-11-29 10:26] #10 closed

[2016-11-29 10:50] brucellino commented on #52
https://github.com/trustodia/HackFest

[2016-11-29 10:50] #52 closed

[2016-11-29 11:07] trustodia commented on #52
which science gateway am I using for this and How do I access it remotely or use it locally to develop the front-end?

[2016-11-29 11:22] lordmila commented on #21
[![StackShare](https://img.shields.io/badge/tech-stack-0690fa.svg?style=flat)](https://stackshare.io/lordmila/uchechukwu)

[2016-11-29 11:34] brucellino commented on #21
Thanks - are you working on the ACEPRD project ? because we already have a stack for that http://stackshare.io/Davazano/aceprd-plant-repository

if not, please let me know which project you're assigned to,

[2016-11-29 11:43] brucellino commented on #52
Hi @trustodia  - please take this question to the forum - open a topic at discourse.sci-gaia.eu

[2016-11-29 11:48] trustodia commented on #52
@brucellino ok

[2016-11-29 13:05] sprintell commented on #21
I'm working on IBIS, Thanks

On Tue, Nov 29, 2016 at 12:34 PM, Bruce Becker <notifications@github.com>
wrote:

[2017-01-15 14:35] trinitysege opened #57 "password issue"
I try to log-in with my username on futuregateway several time, but I was unable to and I always get a response say 'Sorry, try again.'

[2017-01-16 10:20] brucellino commented on #57
Hi @trinitysege can you give us some more information please - which gateway are you using ?

[2017-01-16 10:35] trinitysege commented on #57
I'm using sgw-dev.sci-gaia. eu

Hope it helps you understand?
On 16 Jan 2017 02:20, "Bruce Becker" <notifications@github.com> wrote:

Hi @trinitysege <https://github.com/trinitysege> can you give us some more
information please - which gateway are you using ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/sci-gaia/LagosHack

[2017-01-16 10:41] brucellino commented on #57
This issue was moved to http://discourse.sci-gaia.eu/t/password-issue/2450

[2017-01-16 10:41] #57 closed

[2017-01-16 10:41] brucellino commented on #57
hi @trinitysege Thanks for  the feedback.

As far as I know, the site with the dev services has been decommissioned after the Lagos hackfest. @mtorrisi  can give you more detailed info, I think. I'm going to close this issue for now, and move it to Discourse. We can continue the discussion there.

[2017-01-16 11:24] trinitysege commented on #57
Okay
On 16 Jan 2017 02:41, "Bruce Becker" <notifications@github.com> wrote: